.news-post{
    width: 600px;
     margin: 30px;
 }
 .actions{
     display: flex;
     justify-content: space-between;
 }
 .post_list{
   
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#ededed;
    padding: 10px;
}